---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {% assign current_path = page.url | replace: '/index.html', '' %}
    {% if current_path == '/criticalessays' or current_path == '/criticalessays/' %}
      <!-- 顯示內容但只渲染一次灰色說明 -->
      {% if page.content contains '<p' %}
        {{ page.content | split: '</p>' | slice: 1, 10 | join: '</p>' }}
      {% else %}
        {{ content }}
      {% endif %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</div>
